
@font-face {
    font-family: 'SFUIDisplay-Medium';
    src: url('../fonts/SF-UI-Display-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Regular';
    src: url('../fonts/SF-UI-Display-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Semibold';
    src: url('../fonts/SF-UI-Display-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}